 /* Base styles */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-direction: column;
    margin-top: 20px;
}
.editor-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    height: 50%;
}
.editor-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.editor-title {
    text-align: center;
    margin: 5px 0;
    font-size: 25px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading{
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Garamond', serif;
}
.title{
    align-self: flex-start;
    text-align: left;
    margin: 5px 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.editor {
    width: 100%;
    height: 320px;
    font-size: 17px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.output {
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    white-space: pre-wrap;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.copy-button{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
}
.copy-button:hover{
    background-color: #555;
}
.popup {
    visibility: hidden;
    min-width: 250px;
    background-color: #707070;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.popup.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {top: 30px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}
/* Dark Theme */
.dark-theme {
    background: linear-gradient(to right, #2C5364 0%, #0F2027 100%);
    color: #f0f0f0;
}
.dark-theme .editor, .dark-theme .output .title {
    background-color: #222;
    color: #f0f0f0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.dark-theme .editor-box .editor-title .title {
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.2);
}
.dark-theme .copy-button, .dark-theme {
    background-color: #555;
}
/* Light Theme */
.light-theme {
    background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    color: #333;
}
.light-theme .editor, .light-theme .output .title {
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.light-theme .editor-box .editor-title .title {
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.light-theme .copy-button, .light-theme{
    background-color: #ccc;
    color: #333;
}



.popup1 {
    visibility: hidden;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    height: 200px;
    width: 20%;
}

.popup1.show {
    visibility: visible;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.popup1 .close {
    position: absolute;
    top: 0px;
    left: 4px;
    color: #ff0e0e;
    font-size: 35px;
    cursor: pointer;
}
object{
    width: 100%;
    height: 90%;
}
.bttn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
}
.below{
    width:70%;
}
button:hover{
    cursor: pointer;
}